<header class="flex flex-col content-center justify-center">
  <%= image_tag "logo.png", class: "mx-auto max-w-[16rem] h-auto" %>
  <nav class="text-center flex gap-5 justify-center text-ruby">
  </nav>
</header>
